<div class="section_in v2_mod">
    <div class="feed_list">
        <div class="feed_item fadeEl">
            <div class="section_head decor_mod offset_v2_mod">
                <h2 class="section_title">Social Feed</h2>
                <div class="section_descr">Our most recent posts and updates on social channels.</div>
            </div>
            <div class="feed_social_title">Follow us</div>
            <ul class="social_list feed_mod">
                @*@Html.Sitecore().Placeholder("socialIcons");*@
                <li class="social_item">
                    <a class="social_link feed_mod" href="https://www.facebook.com/TheRedSeaDevelopmentCompany/" target="_blank">
                        <svg class="icon icon-facebook size_mod">
                            <use xlink:href="i/sprite/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="social_item">
                    <a class="social_link feed_mod" href="https://www.linkedin.com/company/the-red-sea-development-company/" target="_blank">
                        <svg class="icon icon-linkedin size_mod">
                            <use xlink:href="i/sprite/sprite.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
                <li class="social_item">
                    <a class="social_link feed_mod" href="https://twitter.com/TheRedSeaGlobal" target="_blank">
                        <svg class="icon icon-twitter size_mod">
                            <use xlink:href="i/sprite/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="social_item">
                    <a class="social_link feed_mod" href="https://www.instagram.com/TheRedSeaDevelopmentCompany/" target="_blank">
                        <svg class="icon icon-instagram size_mod">
                            <use xlink:href="i/sprite/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>