<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Core;User ID=coreuser;Password=X8sKpiv44oIDQqFR4z4N" />
  <add name="security" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Core;User ID=securityuser;Password=qwtgZEtm6KI8gJVHvNIG" />
  <add name="master" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Master;User ID=masteruser;Password=EmOYpY9JJRTGYSwUMC4W" />
  <add name="web" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Web;User ID=webuser;Password=yRB4EDFeWFeLcRATDqBI" />
  <add name="messaging" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Messaging;User ID=messaginguser;Password=izCxkHOVBObAu3N13Jq1" />
  <add name="xdb.processing.pools" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Processing.Pools;User ID=poolsuser;Password=VEzD4ArlPFHTlYKYaEVQ" />
  <add name="xdb.referencedata" connectionString="Data Source=BH-04;Initial Catalog=Practice10_ReferenceData;User ID=referencedatauser;Password=3uhv8BKUMWEX1lLTnfbQ" />
  <add name="xdb.processing.tasks" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Processing.Tasks;User ID=tasksuser;Password=NPSI4nIwulE1WJEBnjTm" />
  <add name="experienceforms" connectionString="Data Source=BH-04;Initial Catalog=Practice10_ExperienceForms;User ID=formsuser;Password=QHS5CVl1hvoadsqzBpAD" />
  <add name="exm.master" connectionString="Data Source=BH-04;Initial Catalog=Practice10_EXM.Master;User ID=exmmasteruser;Password=qoLgEz6XsSgWa0Q4If9L" />
  <add name="reporting" connectionString="Data Source=BH-04;Initial Catalog=Practice10_Reporting;User ID=reportinguser;Password=v01cinyxHCeZiLtv2RjF" />
  <add name="sitecore.reporting.client" connectionString="https://Practice10xconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0DED9E837330B2AE59AF879F4D9FD9B8C1E712A" />
  <add name="solr.search" connectionString="https://localhost:8989/solr" />
  <add name="sitecoreidentity.secret" connectionString="YyT1XD31EfX4L9AQZdSW6iwW80wQVRVTKYGSvXcSmc07ri7to6ypoeRnT0xn0aYGxuqUmIZEbKUcgYGWk2J4x4n96tzR4kCthbn7" />
  <add name="xconnect.collection" connectionString="https://Practice10xconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0DED9E837330B2AE59AF879F4D9FD9B8C1E712A" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://Practice10xconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0DED9E837330B2AE59AF879F4D9FD9B8C1E712A" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://Practice10xconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0DED9E837330B2AE59AF879F4D9FD9B8C1E712A" />
  <add name="xdb.referencedata.client" connectionString="https://Practice10xconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=C0DED9E837330B2AE59AF879F4D9FD9B8C1E712A" />
  <add name="EXM.CryptographicKey" connectionString="0x0957204527749265973924959009001868229005374056921374660156365230" />
  <add name="EXM.AuthenticationKey" connectionString="0x3462697237533809269752107291423356469673133852630457079024450742" />
  <add name="PackageManagementServiceUrl" connectionString="https://updatecenter.cloud.sitecore.net/" />
</connectionStrings>