<div class="section_in v2_mod">
    <div class="section_cols fadeEl">
        <div class="section_col">
            <div class="section_head decor_mod limit_mod">
                <h2 class="section_title offset_mod">
                    <span class="title_in">Subscribe to our</span>Newsletter
                </h2>
                <div class="section_descr">Subscribe to keep up to date with our latest news by email.</div>
            </div>
        </div>
        <div class="section_col">
            <form class="form_wrap" id="subscribeForm">
                <div class="form_controller half_mod">
                    <dl class="form_cell form_cell_v1_mod">
                        <dt class="form_cell_title form_v1_mod">
                            <label for="subscribe_name"></label>
                        </dt>
                        <dd class="form_field_wrap form_v1_mod">
                            <input class="form_field default_mod" type="text" id="subscribe_name"
                                   placeholder="Enter your first name" name="name" required="required" />
                        </dd>
                    </dl>
                </div>
                <div class="form_controller half_mod">
                    <dl class="form_cell form_cell_v1_mod">
                        <dt class="form_cell_title form_v1_mod">
                            <label for="subscribe_last_name"></label>
                        </dt>
                        <dd class="form_field_wrap form_v1_mod">
                            <input class="form_field default_mod" type="text" id="subscribe_last_name"
                                   placeholder="Enter your last name" name="last_name" required="required" />
                        </dd>
                    </dl>
                </div>
                <div class="form_controller no_offset_mod">
                    <dl class="form_cell form_cell_v1_mod">
                        <dt class="form_cell_title form_v1_mod">
                            <label for="subscribe_mail"></label>
                        </dt>
                        <dd class="form_field_wrap form_v1_mod">
                            <input class="form_field radius_mod default_mod" type="email" id="subscribe_mail"
                                   placeholder="Enter your email address" name="email" required="required" />
                        </dd>
                    </dl>
                </div>
                <div class="form_controller">
                    <div class="form_btn_wrap">
                        <div class="btn_v2 form_mod sendForm">Submit</div>
                        <div class="form_success">success</div>
                    </div>
                </div>
                <div class="form_controller checkbox_mod">
                    <label class="radio_check check_1_mod">
                        <input class="radio_check_input" type="checkbox"
                               id="I_have_read_and_understood_the_Red_Sea_Development_Company" name="subscribe_check"
                               required="required" />
                        <span class="radio_check_text check_1_mod">
                            I have read and understood The
                            Red Sea Development Company <a class="checkbox_link" href="https://www.theredsea.sa/en/privacy-policy" target="_blank">Privacy Policy</a>
                        </span>
                    </label>
                </div>
                <div class="form_controller terms-message"> </div>
            </form>
            <div class="subscription-message"> </div>
            <img src="i/loader.gif" alt="Loading..." class="loader-icon display-none">
        </div>
    </div>
</div>