
<div class="section_in">
    <div class="phase_row">
        <div class="phase_col text_mod fadeEl">
            @Html.Sitecore().Placeholder("fromVisionContent");
        </div>
    

        <div class="phase_col info_mod fadeEl">
            @Html.Sitecore().Placeholder("fromVisionTab");
        </div>
    </div>
</div>