<div class="section_decor top_level_mod">
    <svg preserveAspectRatio="xMidYMin slice" class="section_decor_svg 2"
         id="ec756250-727b-4034-8840-89a77437ed96" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1922 78.7">
        <path class="section_decor_svg_in b41ba791-9822-4f3b-876d-bd0236c55155"
              id="baa226fa-9621-4eb1-95c0-af33ca3227eb" data-name="Контур 828"
              d="M1922,0V78.7S1442,29.2,961.47,28.77,0,78.7,0,78.7V0" />
    </svg>
</div>
<div class="map fadeEl" id="map"></div>
<div class="section_in">
    <div class="map_facility_wrap fadeEl">
        <div class="map_facility">
            <div class="map_facility_w_img">
                <img loading="lazy" class="map_facility_img" src="i/Microsite_pic/map/Airport.jpg"
                     alt="Airport" />
            </div>
            <div class="map_facility_close">
                <svg class="icon icon-close current_mod">
                    <use xlink:href="i/sprite/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="map_facility_content">
                <h3 class="map_facility_title">Airport</h3>
                <div class="map_facility_descr">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti hic at
                    the assumenda quibusdam officiis architecto aliquam reprehenderit aligment.
                </div>
                <div class="map_facility_w_list">
                    <ul class="map_facility_list">
                        <li class="map_facility_list_item">
                            <div class="map_facility_block">
                                <div class="map_facility_block_w_icon">
                                    <svg class="icon icon-luggage map_facility_mod size_mod">
                                        <use xlink:href="i/sprite/sprite.svg#luggage"></use>
                                    </svg>
                                </div>
                                <div class="map_facility_block_w_title">
                                    <span class="map_facility_block_title">
                                        Smart
                                        Luggage
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="map_facility_list_item">
                            <div class="map_facility_block">
                                <div class="map_facility_block_w_icon">
                                    <svg class="icon icon-duty-free map_facility_mod size_mod">
                                        <use xlink:href="i/sprite/sprite.svg#duty-free"></use>
                                    </svg>
                                </div>
                                <div class="map_facility_block_w_title">
                                    <span class="map_facility_block_title">Duty Free</span>
                                </div>
                            </div>
                        </li>
                        <li class="map_facility_list_item">
                            <div class="map_facility_block">
                                <div class="map_facility_block_w_icon">
                                    <svg class="icon icon-brands map_facility_mod size_mod">
                                        <use xlink:href="i/sprite/sprite.svg#brands"></use>
                                    </svg>
                                </div>
                                <div class="map_facility_block_w_title">
                                    <span class="map_facility_block_title">
                                        International
                                        Brands
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="map_facility_list_item">
                            <div class="map_facility_block">
                                <div class="map_facility_block_w_icon">
                                    <svg class="icon icon-wifi map_facility_mod size_mod">
                                        <use xlink:href="i/sprite/sprite.svg#wifi"></use>
                                    </svg>
                                </div>
                                <div class="map_facility_block_w_title">
                                    <span class="map_facility_block_title">Free WIFI</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <a class="btn_base" href="#">Read more</a> -->
            </div>
        </div>
    </div>
</div>